<div [hidden]="profile" class="loading-icon"></div>
<div class="container" *ngIf="profile">
  <form [formGroup]="parentForm"  (ngSubmit)="updateProfile()">   
    <div  class="profile-container">
      <div class="primary-form-container">

          <div class="secondary-form-container">
            <h1 class="purple-primary">Edit Profile</h1>
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" [(ngModel)]="profile.email" (ngModelChange)="changesValid()">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" formControlName="username" [(ngModel)]="profile.username" (ngModelChange)="changesValid()">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="First Name" formControlName="firstName" [(ngModel)]="profile.firstName" (ngModelChange)="changesValid()">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Last Name" formControlName="lastName" [(ngModel)]="profile.lastName" (ngModelChange)="changesValid()">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Address" formControlName="address1" [(ngModel)]="profile.address1" (ngModelChange)="changesValid()">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Address 2" formControlName="address2" [(ngModel)]="profile.address2" (ngModelChange)="changesValid()">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="City" formControlName="city" [(ngModel)]="profile.city" (ngModelChange)="changesValid()">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-select placeholder="State" formControlName="state" [(ngModel)]="profile.state" (ngModelChange)="changesValid()">
                <mat-option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Zip Code" formControlName="zipcode" [(ngModel)]="profile.zipcode" (ngModelChange)="changesValid()">
            </mat-form-field>
          </div>

      </div>
      <div class="primary-image-container">
        <div class="secondary-image-container">
          <img src={{profile.profileImageUrl}} class="profile-image">
          <button mat-raised-button color="primary" (click)="chooseImage()" class="change-image-button">
            Change Image
          </button>
          <input type="file" #file id="fileUpload" (change)="uploadFile(file.files)"/>

          <button *ngIf="!avatarFinished" mat-raised-button color="accent" class="change-image-button" (click)="saveImage()" [disabled]="!validFile">
            Save Image
          </button>
          <button *ngIf="avatarFinished" mat-raised-button color="accent" class="change-image-button">
             Upload Complete
            <mat-icon class="green">done</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="profile" class="description-container">
      <mat-form-field class="full-width">
        <textarea rows="5" matInput placeholder="About My Family" formControlName="description"  [(ngModel)]="profile.description" (ngModelChange)="changesValid()"></textarea>
        <mat-icon matSuffix matTooltip="Please enter a brief description about your family and describe your ideal Day Share Group." color="primary">info outline</mat-icon>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="!formValid" type="submit">Save Changes</button>
  </form>
</div>
