<div class="container">
  <div class="splash">
    <div class="splash-video-wrapper">
      <video loop autoplay muted class="splash-video">
        <source src="https://s3.us-east-2.amazonaws.com/dayshare/videos/kidsSoccer.mp4">
      </video>
    </div>
    <div class="splash-overlay">
      <div class="splash-headline">
        <h1>Day Share</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="purple-primary">What is Co-Op Day Care?</h1>
  <h4 class="purple-accent">Co-Op Day Care lets you share child care duties with other parents in your area.</h4>
  <p>The typical group has 5 parents and 5 children. Each parent takes care of all of the children one working day per week.
     This allows parents to continue working (at least 4 days per week) without the costly day care expenses. Truly the
     best of both worlds! For a regular 40 hour per week job, many employers are allowing employees to work four 10 hour days
     per week, while their children are too young for pre-school or kindergarten.</p>
</div>

<div class="container">
  <h1 class="purple-primary">Frequently Asked Questions</h1>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="purple-accent">
          How do I know my child will be safe?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>All parents will have to undergo a comprehensive background check with standards the same as any educator or child care worker.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="purple-accent">
          Are there any financial obligations?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>While this is largely the decision of your Day Share group, it can be assumed that you will have to provide meals and basic necessities to the children on your day.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="purple-accent">
          I've never worked at a daycare how will I know what to do?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>We know that it's hard enough taking care of one child. We provide education lesson plans, activity ideas and discounts on educational apps, local events, recreation centers and streaming video services.
         All child information is right at your fingertips, allergies, medications, dietary restrictions, favorite toys, etc.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="purple-accent">
          What if my child has dietary restrictions, allergies, medical needs, etc?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>You will fill out an extensive profile for your child that tells the other parents exactly what your child needs.</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>
