.input-container {
  display: flex;
  flex-direction: column;
}


.full-width {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-spacing {
  margin-bottom: 10px;
}

.button-spacing {
  margin-top: 10px;
}

.list-spacing {
  margin-bottom: 10px;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: #CE9CE8;
}

.spinner {
  margin: auto;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
  .input-container {
    flex-direction: row;
  }
}
