<div class="container">
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
  <mat-horizontal-stepper >
    <!--[linear]="true"-->
    <mat-step [stepControl]="parentForm">
      <form [formGroup]="parentForm">
        <ng-template matStepLabel>Parent Information</ng-template>
          <div class="input-container">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" formControlName="username" required>
            </mat-form-field>
          </div>
          <div class="input-container">
            <mat-form-field class="full-width">
              <input matInput placeholder="First Name" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Last Name" formControlName="lastName" required>
            </mat-form-field>
          </div>
          <div class="input-container">
            <mat-form-field class="full-width">
              <input matInput placeholder="Address" formControlName="address1" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Address 2" formControlName="address2">
            </mat-form-field>
          </div>
          <div class="input-container">
            <mat-form-field class="full-width">
              <input matInput placeholder="City" formControlName="city" required>
            </mat-form-field>
            <!--<mat-form-field class="full-width">-->
              <!--<input matInput placeholder="State" formControlName="state" required>-->
            <!--</mat-form-field>-->
            <mat-form-field class="full-width">
              <mat-select placeholder="State" formControlName="state" required>
                <mat-option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Zip Code" formControlName="zipcode" required>
            </mat-form-field>
          </div>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="childrenForm[0]">
      <ng-template matStepLabel>Child Information</ng-template>
      <!--<button mat-raised-button (click)="addChildForm()" color="primary">-->
        <!--<mat-icon>add</mat-icon>-->
        <!--Add Child-->
      <!--</button>-->

      <mat-accordion>
        <mat-expansion-panel *ngFor="let childForm of childrenForm" class="expand-by-default">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{childForm.controls.firstName.value}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
              <form [formGroup]="childForm">
                <mat-form-field >
                  <input matInput placeholder="First Name" formControlName="firstName" required>
                </mat-form-field>

                <mat-form-field >
                  <input matInput placeholder="Last Name" formControlName="lastName" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Gender" formControlName="gender" required>
                    <mat-option value="M">Boy</mat-option>
                    <mat-option value="F">Girl</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="birthDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-mini-fab color="primary" (click)="addChildForm()"><mat-icon>add</mat-icon></button>
              </form>
            </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="button-spacing">
        <button mat-raised-button button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <mat-card class="card-spacing">
        <h3 class="purple-primary">Parent Information</h3>
          <ul>
            <li><strong>Email:</strong> {{parentForm.controls.email.value}}</li>
            <li><strong>Username:</strong> {{parentForm.controls.username.value}}</li>
            <li><strong>First Name:</strong> {{parentForm.controls.firstName.value}}</li>
            <li><strong>Last Name:</strong> {{parentForm.controls.lastName.value}}</li>
            <li><strong>Address 1:</strong> {{parentForm.controls.address1.value}}</li>
            <li><strong>Address 2:</strong> {{parentForm.controls.address2.value}}</li>
            <li><strong>City:</strong> {{parentForm.controls.city.value}}</li>
            <li><strong>State:</strong> {{parentForm.controls.state.value}}</li>
            <li><strong>Zip Code:</strong> {{parentForm.controls.zipcode.value}}</li>
          </ul>
      </mat-card>
      <mat-card>
        <h3 class="purple-primary">Children</h3>
        <ul *ngFor="let childForm of childrenForm" class="list-spacing">
          <li><strong>First Name:</strong> {{childForm.controls.firstName.value}}</li>
          <li><strong>Last Name:</strong> {{childForm.controls.lastName.value}}</li>
          <li><strong>Gender:</strong> {{childForm.controls.gender.value}}</li>
          <li><strong>Birth Date:</strong> {{childForm.controls.birthDate.value | date}}</li>
        </ul>

      </mat-card>


      <div>
        <button mat-raised-button matStepperPrevious color="primary" class="button-spacing">Back</button>
        <button mat-raised-button (click)="submitForm()" color="accent" class="button-spacing">
          Submit
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
